body{
	overflow-x: hidden;
	height: 100%;
	margin:0;
}
/*MENU*/
.menu_header{
	background-color: #5C9566;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    padding: 0 1em 0 1em;
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
    color: white;
}
.navbar-brand, .navbar-nav>li>a:hover {
	text-shadow: none;
    color: white;
    text-decoration: underline;
    background-color: #4D5359;
}
.logo_menu{
	padding-top: 10px;
}
.navbar-toggle{
	padding-top: 0;
    margin-top: 0; 
}
.icon-bar1, .icon-bar2, .icon-bar3{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
/* efecto menu hamburguesa*/
.change .icon-bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
    transform: rotate(-45deg) translate(-5px, 5px) ;
}
.change .icon-bar2 {
    opacity: 0;
}
.change .icon-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.menu_header_admin{
	background-color: #5C9566;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    padding: 0 1em 0 1em;
}
.navbar-brand_admin, .navbar-nav_admin>li>a {
    text-shadow: none;
    color: white;
}
.navbar-brand_admin, .navbar-nav_admin>li>a:hover {
    text-shadow: none;
    color: white;
    text-decoration: underline;
    background-color: #4D5359;
}

/*  ADMIN */

.col-xs-12 {
    width: 100% !important;
}

.fila_panel{
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	text-align: center;
	width: 80%;	
}
.fila_panel1{
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	text-align: justify;
	width: 80%;	
}
.panel{
	/*width: 30%;*/
	/*margin-left: 5px;
	margin-right: 5px;
	padding-top: 20px;
	background-color: #C3D8C7;*/
	padding-bottom: 10px;
}

.panel i{		
	color: #5C9566;
}
.panel h4{	
	font-family: 'Sansita', sans-serif;
	text-align: center;
	color: #5C9566;
}

#default1{
	background-color: #C3D8C7;
	    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-arrow-right{
	color: #5C9566;
	font-size: 12px;
}


.tabla_admin{
border-radius: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.tabla_admin th{
    padding: 0.25em 0.5em 0.25em 0.5em;
    /*background-color: #0B7B96;*/
     color: #5C9566;
     text-align: center;
     font-family: 'Lato', sans-serif;
     font-size: 1.2em;
     border-radius: 2px;
}
.tabla_admin td{
    padding: 0.25em 0.5em 0.25em 0.5em;
    /*background-color: #E0E1E5;*/
    text-align: center;
    border-spacing:  5px 15px;
    font-family: 'Lato', sans-serif;
     padding: 10px;
 }
.titulo_panelad{
	    /* margin-left: 150px; */
    /* padding-bottom: 2%; */
    /* padding-top: 2%; */
    font-size: 1.7em;
    color: #5C9566;
    font-family: 'Sansita', sans-serif;
    cursor: pointer;
}
}


.titulo_panelad a{
	cursor: pointer;
}

.butt2{
	display: block;
	text-align: center;
	/*width: 30%;*/
	margin-left: 145px;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	margin-top: 20px;
}
.ventanamodal{
    background: white;
    border: 2px solid black;
    width: 50vw;
    height: 7em;
    position: fixed;
    left: 25vw;
    top: 25vh;
    padding: 1em;
}

.barra_usuario li{
    list-style-type: none;
}


/*panel usuario*/

.user{
	width: 50%;
	padding-top:80px;
	margin-left: 90px;
}

.titulo_usuario{
	text-align: left;
	padding-top: 60px;
	padding-bottom: 20px;
	font-size: 2.2em;
  	color: #0b7b96;
	font-family: 'Sansita', sans-serif;	
}


.tabla_usuario{

	border-spacing:  20px;
}

.tabla_usuario thead{
	font-size: 1.9em;
	font-family: 'Lato', sans-serif;
	color: #0b7b96;		
	 padding: 50px;
}

.tabla_usuario td{
	font-size: 1.2em;
	 font-family: 'Lato', sans-serif;
	  padding: 50px;
	
}

.tabla_usuario th{
	 padding: 50px;
	
}

/*NUEVA SALA*/

 .propieta{
 	padding-left: 50px;
 }	

/*CALENDARIO*/


/*Pagina index*/
#estilo_index{
 padding-bottom: 11.8%;

}

/*pagina modificación usuario*/

#estilo_modusuario{
margin-top: 5%;
 padding-bottom: 6.8%;
}

#estilo_modusuario label{
	margin-left: 11%
}
#estilo_modusuario button{
	margin-left: 33.5%;	
}
#estilo_modusuario #opciones {
	margin-left: 10%		
}

/*FORMULARIO REGISTRO*/
.form_registro{
	padding-top: 8%;
	padding-bottom: 17.4%;
}

#registro{
	padding-top: 20px;
	padding-bottom: 12px;	
	background-color: #C3D8C7;
	border-radius: 5px;
}

#formregistro p{
	color: #5C9566;
	padding-right: 50px;
	text-align: right;
	font-family: 'Lato', sans-serif;
} 

#privilegios{
	margin-left: 0;
}

.privi{
	padding-left: 50px;
}


/*registro salas*/
#registro_sala{
	padding-top: 20px;
	padding-bottom: 12px;	
	background-color: #C3D8C7;
	border-radius: 5px;
}

/*BTN-MIO1 MODIFICADO PARA ADMIN*/

.btn-mio1{ 
  color: #FFFFFF; 
  background-color: #5C9566; 
  border-color: none; 
} 

.btn-mio1:hover, 
.btn-mio1:focus, 
.btn-mio1:active, 
.btn-mio1.active, 
.open .dropdown-toggle.btn-mio1 { 
  color: #FFFFFF; 
  background-color: #5C9566; 
  border-color: none; 
} 
 
.btn-mio1:active, 
.btn-mio1.active, 
.open .dropdown-toggle.btn-mio1 { 
  background-image: none; 
} 
 
.btn-mio1.disabled, 
.btn-mio1[disabled], 
fieldset[disabled] .btn-mio1, 
.btn-mio1.btn-mio1.disabled:hover, 
.btn-mio1[disabled]:hover, 
fieldset[disabled] .btn-mio1:hover, 
.btn-mio1.disabled:focus, 
.btn-mio1[disabled]:focus, 
fieldset[disabled] .btn-mio1:focus, 
.btn-mio1.disabled:active, 
.btn-mio1[disabled]:active, 
fieldset[disabled] .btn-mio1:active, 
.btn-mio1.disabled.active, 
.btn-mio1[disabled].active, 
fieldset[disabled] .btn-mio1.active { 
  background-color: #0B7B96; 
  border-color: none; 
} 
 
.btn-mio1 .badge { 
  color: #5C9566; 
  background-color: #FFFFFF; 
}

/*BTN_ADMIN*/

.btn-mio1_admin { 
  color: #FFFFFF; 
  background-color: #5C9566; 
  border-color: none; 
} 
.btn-mio1_admin:hover, 
.btn-mio1_admin:focus, 
.btn-mio1_admin:active, 
.btn-mio1_admin.active, 
.open .dropdown-toggle.btn-mio1_admin { 
  color: #FFFFFF; 
  background-color: #5C9566; 
  border-color: none; 
}  
.btn-mio1_admin:active, 
.btn-mio1_admin.active, 
.open .dropdown-toggle.btn-mio1_admin { 
  background-image: none; 
}  
.btn-mio1_admin.disabled, 
.btn-mio1_admin[disabled], 
fieldset[disabled] .btn-mio1_admin, 
.btn-mio1_admin.btn-mio1_admin.disabled:hover, 
.btn-mio1_admin[disabled]:hover, 
fieldset[disabled] .btn-mio1_admin:hover, 
.btn-mio1_admin.disabled:focus, 
.btn-mio1_admin[disabled]:focus, 
fieldset[disabled] .btn-mio1_admin:focus, 
.btn-mio1_admin.disabled:active, 
.btn-mio1_admin[disabled]:active, 
fieldset[disabled] .btn-mio1_admin:active, 
.btn-mio1_admin.disabled.active, 
.btn-mio1_admin[disabled].active, 
fieldset[disabled] .btn-mio1_admin.active { 
  background-color: #0B7B96; 
  border-color: none; 
}  
.btn-mio1_admin .badge { 
  color: #0B7B96; 
  background-color: #FFFFFF; 
}


/*pagina login*/
#inicio{
	margin-top: 18%;
    margin-right: 0;
    padding-bottom: 21.8%;
}

#cliente{

background-color: #D9DADE;
padding-bottom: 29px;
border-radius: 5px;
}

 #nocliente{  
padding-bottom: 29px;
background-color: #D9DADE;
border-radius: 5px;
}

#inicio p{
  color: #0b7b96;
font-family: 'Lato', sans-serif;
}

.recupera{
	padding-right: 50px;
	text-align: right;
}

.titulo {
	text-align: center;
	padding-bottom: 5%;
	font-size: 1.8em;
  	color: #5C9566;
	font-family: 'Sansita', sans-serif;

}

#nocliente .titulo{
	padding-bottom: 7%;
	font-family: 'Sansita', sans-serif;
}

#nocliente p {
	font-size: 1.21em;
    color: #0b7b96;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.butt{
	display: block;
	text-align: center;
	/*width: 30%;*/
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
}

/* RECUPERAR CONTRASEÑA*/
#inicio_contraseña{
	padding-top: 20%;
	padding-bottom: 25.5%;
}

.col-center{
    float: none;
    margin: 0 auto;
}

.titulo2{
	font-size: 25px;
	color: #5C9566;
	text-align: center;
	padding-bottom: 10px;
	font-family: 'Sansita', sans-serif;

}
#cliente_contraseña{
	width: 30%;
	background-color: #D9DADE;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.form-control {
    display: block;
    width: 80%;
    height: 34px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    background-image: none;
    }

/* FOOTER*/
.nb-footer{
	background-color: #4D5359;
	width: 100%;
	bottom: 0;
	/*position: absolute;*/
	height: auto;
}
.iconos{
	display: inline !important;
}

.pie{
	padding-top: 27px;
}

.span_pie{
	margin-left: 20px;
}

.pie_texto {	
	color: white;	
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;	
}

.enlace_pie{
	color: white;
}
.enlace_pie:hover{
	color: white;
	text-decoration: underline;
}

.copyright{
	    background-color: #4D5359;
}

.hr_footer{
	margin-bottom: 1px;
	
}

/*EQUIPO*/
.fila_equipo1{
	padding-top: 50px;
	padding-bottom: 40px;
}
.fila_equipo2 {
	padding-top: 50px;
	padding-bottom: 182px;

}
.profile_foto{
	    width: 96px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid rgba(119, 119, 119, 0.48);
}

.titulo_equipo{
	text-align: center;
	font-family: 'Sansita', sans-serif;
	font-size: 50px;
}

.subtitulo_equipo{
	text-align: center;
	font-family: 'Lato', sans-serif;
	 color: #0b7b96;
	 font-size: 35px;
}
.hr_titulo{
	border-top: 1.5px solid #0b7b96;
	width: 30%;
	padding-bottom: 10px;
}

.equipo h3{
	font-size: 17px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.equipo p{
	font-size: 15px;	
	font-family: 'Lato', sans-serif;
}

.borde_equipo{
    border-radius: 8px;
    background-color:#D9DADE;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.nom{
	font-size: 13px;
	vertical-align: 0;
}

.equipo .fa{
	    color: #0b7b96;
}

/* PROYECTO*/

@media (min-width: 1200px){
.in_grid{
	width: 1100px;
	margin-left: auto;
	margin-right:auto;
	padding-top: 10px;
	padding-bottom: 20px;
	}
}

@media (min-width: 992px){
.in_grid{
	width: 970px;
	margin-left: auto;
	margin-right:auto;
	padding-top: 10px;
	padding-bottom: 20px;
	}
}

@media (min-width:768px){
.in_grid{
	width: 830px;
	margin-left: auto;
	margin-right:auto;
	padding-top: 10px;
	padding-bottom: 20px;
	}
}

.titulo_proyecto{
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Sansita', sans-serif;
	font-size: 38px;
	font-weight: bold;
}

.subtitulo_proyecto{
	font-size: 20px;
	text-align: center;
	font-style: italic;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #0b7b96;
}

.texto_proyecto{
	font-size: 18px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.no_ingrid1{
	background-color: #D9DADE;
/*background-color: rgba(232, 232, 232, 0.28);*/
}

.imagen_calendario{
	width: 100%;
	height: 100%;
}

.cuadro_calendario{
	padding-left: 28px;
	padding-top: 28px;	
	padding-right: 55px;
}

.texto_calendario{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	text-align: center;
	padding-bottom: 20px;
}

.lista_calendario li{
	list-style-type: none;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	
	padding-left: 28px;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-right: 55px;
}

.lista_calendario span{
	color: #0b7b96;
	font-weight: bold;
	font-size: 16px;
}

.check_calendario{
	color: #0b7b96;
}

.fila_iconos{	
	text-align: center;
	padding-top: 70px;
	padding-bottom: 30px;
	background-repeat: repeat;
}
.fila_iconos i{	
	padding-bottom: 25px;
	color: #0b7b96;
	
}

.fila_iconos i:hover{	
	transform:scale(1.2);
    -ms-transform:scale(1.1); // IE 9 
    -moz-transform:scale(1.1); // Firefox 
    -webkit-transform:scale(1.1); // Safari and Chrome 
    -o-transform:scale(1.1); // Opera	
}

.fila_iconos h3{	

	font-family: 'Sansita', sans-serif;
	text-align: center;
}
.fila_iconos p{	
	
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	text-align: center;
	
}
.fila_iconos hr{	
	border-top: 1px solid #0b7b96;
	width: 50%;
	padding-bottom: 20px;
	
}
.ultima{
	background-image: url("../img/ultima.png");
	background-position: 50% 50%;
}

.ultima h3{
	font-family: 'Sansita', sans-serif;
	font-size: 30px;
	text-align: center;
	color:white;
	padding-top: 100px;
	padding-bottom: 10px;
}
.ultima p{
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	text-align: center;
	color:white;
	padding-bottom: 100px;
	max-width: 60%;
	margin-right: auto;
	margin-left: auto;
}

.ultima hr{	
	border-top: 2px solid white;
	width: 20%;
	padding-top: 10px;	
}

/* INDEX - GALERIA */
a{
    color: black;
    text-decoration: none;
}
a:hover{
   text-decoration: none; 
}

a li{	
	list-style:none;	
}

/*Para img responsivas*/
#sala img {	
 width:100%;
}

.bloquesala{
    margin-top: 1%;
}

.btn-mio1 { 
  color: #FFFFFF; 
  background-color: #5C9566; 
  border-color: none; 
} 
 
.btn-mio1:hover, 
.btn-mio1:focus, 
.btn-mio1:active, 
.btn-mio1.active, 
.open .dropdown-toggle.btn-mio1 { 
  color: #FFFFFF; 
  background-color: #5C9566; 
  border-color: none; 
} 
 
.btn-mio1:active, 
.btn-mio1.active, 
.open .dropdown-toggle.btn-mio1 { 
  background-image: none; 
} 
 
.btn-mio1.disabled, 
.btn-mio1[disabled], 
fieldset[disabled] .btn-mio1, 
.btn-mio1.disabled:hover, 
.btn-mio1[disabled]:hover, 
fieldset[disabled] .btn-mio1:hover, 
.btn-mio1.disabled:focus, 
.btn-mio1[disabled]:focus, 
fieldset[disabled] .btn-mio1:focus, 
.btn-mio1.disabled:active, 
.btn-mio1[disabled]:active, 
fieldset[disabled] .btn-mio1:active, 
.btn-mio1.disabled.active, 
.btn-mio1[disabled].active, 
fieldset[disabled] .btn-mio1.active { 
  background-color: #0B7B96; 
  border-color: none; 
} 
 
.btn-mio1 .badge { 
  color: #0B7B96; 
  background-color: #FFFFFF; 
}


.panel {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.00);
    box-shadow: 0 0px 0px rgba(0,0,0,.00);
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.00);
    box-shadow: 0 0px 0px rgba(0,0,0,.00);
}
